body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, "Helvetica Neue", Arial;
    padding: 18px;
    background: #f7f7fb
}

.container {
    max-width: 980px;
    margin: 0 auto;
    background: white;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(20, 20, 40, 0.06)
}

h1 {
    margin-top: 0
}

textarea {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-family: monospace
}
#startBtn,#downloadBtn{
    background-color: #55E0A3;
}
.row {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 8px
}

button {
    padding: 8px 12px;
    border-radius: 7px;
    border: 1px solid #ccc;
    background: #fff;
    cursor: pointer
}

button:disabled {
    opacity: 0.5;
    cursor: default
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 12px
}

th,
td {
    border: 1px solid #eee;
    padding: 8px;
    text-align: left;
    font-size: 16px;
}

.progress {
    margin-top: 8px;
    font-size: 13px;
    color: #333
}
.table_numbering{
    font-size: 13px;
    width: 2%;
}
.table_links{
    color: gray;
    word-break: break-all;
    width: 30%;
}
.domain_names{
    width: 10%;
}
.dsc-reachable-cell,.status{
    width: 5%;
}
@media(max-width:640px) {
    .row {
        flex-direction: column;
        align-items: stretch
    }
}